<nav class="navbar navbar-dark bg-dark">
  <div class="container ms-0">
    <a class="navbar-brand" href="<%= root_path %>"><i class="fa-solid fa-ticket"></i> WatchList</a>
  </div>
</nav>
<div class="signage">
  <div class="sign">watch list</div>
</div>
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-start">
    <h1>Your Lists</h1>
    <%= link_to "Create List", new_list_path, class: "btn btn-outline-light" %>
  </div>
  <div class="row row-cols-1 row-cols-md-6 overflow-auto">
    <% @lists.each do |list| %>
      <div class="col px-2">
        <a href="<%= list_path(list) %>" class="text-decoration-none">
          <div class="flip-card-container">
            <div class="flip-card">
              <div class="card-front">
                <% if list.photo.attached? %>
                  <%= cl_image_tag list.photo.key, crop: "fill", width: 1080, height: 1920, class: "card-img-top img-fluid", alt: list.name %>
                <% else %>
                  <img src="<%= Faker::LoremFlickr.image(size: '1080x1920', search_terms: [list.name]) %>" class="card-img-top img-fluid" alt="<%= list.name %>">
                <% end %>
              </div>
              <div class="card-back">
                <% if list.photo.attached? %>
                  <%= cl_image_tag list.photo.key, crop: "fill", width: 1080, height: 1920, class: "card-img-top img-fluid card-back-img", alt: list.name %>
                <% else %>
                  <img src="<%= Faker::LoremFlickr.image(size: '1080x1920', search_terms: [list.name]) %>" class="card-img-top img-fluid card-back-img" alt="<%= list.name %>">
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= list.name.upcase %></h5>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
