<h1>Lists#new</h1>
<p>Find me in app/views/lists/new.html.erb</p>
<%= link_to "Return Home", lists_path %>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>