<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>"><i class="fa-solid fa-ticket"></i> WatchList</a>
    <div>
      <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn-outline-light", role: "button" %>
      <%= link_to "delete", list_path(@list), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: 'btn btn-outline-danger', role: "button" %>
    </div>
  </div>
</nav>
<div class="list-sign" style="background-image: url('<%= @list.photo.attached? ? cl_image_path(@list.photo.key, crop: "fill") : Faker::LoremFlickr.image(size: '1080x1920', search_terms: [@list.name]) %>');">
  <div class="list-title"><%= @list.name.upcase %></div>
  <div class="overlay"></div>
</div>
<h1 class="text-center">Movies</h1>
<div class="container">
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-md-6 col-sm-12 mb-3 d-flex justify-content-center">
        <div class="card bg-dark text-white m-3 position-relative" style="width: 100%; max-width: 600px;">
          <img src="<%= bookmark.movie.background %>" class="card-img" alt="<%= bookmark.movie.title %>">
          <div class="img-overlay d-flex align-items-start position-absolute top-0 start-0" style="width: 100%; height: 100%;">
            <div class="container mt-4">
              <div class="row">
                <div class="col-8">
                  <div class="d-flex align-items-center gap-2">
                    <h2 class="card-title movie-font" style="display: block;"><%= bookmark.movie.title %></h2>
                    <h5 class="rating"><%= bookmark.movie.rating.round(1) %></h5>
                  </div>
                  <p class="card-text paragraph"><%= bookmark.movie.overview %></p>
                  <span><i>"<%= bookmark.comment %>"</i></span>
                </div>
                <div class="col-4 text-center">
                  <img src="<%= bookmark.movie.poster_url %>" class="img-fluid" alt="<%= bookmark.movie.title %>">
                  <div class="stars"><%= render_stars(bookmark.movie.rating) %></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
